<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin || Add Movie</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="bg-zinc-900 text-zinc-200 font-sans leading-normal tracking-normal flex">
  <!-- Loader -->
  <%- include('partials/loader') %>
    <%- include('partials/sidebar') %>

      <div class="flex-1 ml-0 md:ml-64 bg-zinc-900">
        <!-- Navbar -->
        <nav class="bg-zinc-800 shadow-md sticky top-0 mx-5 rounded-b-lg">
          <div class="container mx-auto px-4 py-4 flex items-center justify-between">
            <!-- Logo Section -->
            <div class="flex items-center space-x-4">
              <a href="/admin/dashboard" class="flex items-center">
                <img src="/images/logo.png" alt="Logo" class="w-32 md:w-48 h-auto" />
              </a>
            </div>
            <div class="flex space-x-4">
              <a href="/admin/dashboard"
                class="bg-green-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-500">
                Home
              </a>
            </div>
          </div>
        </nav>

        <!-- Main Content -->
        <div class="container mx-auto px-4 py-8">
          <h2 class="text-2xl font-bold text-zinc-100 mb-6">Add New Movie</h2>

          <div class="bg-zinc-800 p-6 rounded-lg shadow-md">
            <form action="/admin/dashboard/addmovie" method="POST" class="space-y-4">
              <div>
                <label for="title" class="block text-sm font-semibold text-zinc-300 mb-1">Movie Title</label>
                <input type="text" id="title" name="title" placeholder="Enter movie title"
                  class="w-full p-2 bg-zinc-700 text-zinc-200 border border-zinc-600 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
                  required />
              </div>
              <div>
                <label for="description" class="block text-sm font-semibold text-zinc-300 mb-1">Description</label>
                <textarea id="description" name="description" rows="4" placeholder="Enter movie description"
                  class="w-full p-2 bg-zinc-700 text-zinc-200 border border-zinc-600 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
                  required></textarea>
              </div>
              <div>
                <label for="Category" class="block text-sm font-semibold text-zinc-300 mb-1">Category</label>
                <div class="flex gap-4">
                  <div>
                    <input type="checkbox" id="horror" name="categories" value="Horror" class="mr-2" />
                    <label for="horror" class="text-zinc-300">Horror</label>
                  </div>
                  <div>
                    <input type="checkbox" id="action" name="categories" value="Action" class="mr-2" />
                    <label for="action" class="text-zinc-300">Action</label>
                  </div>
                  <div>
                    <input type="checkbox" id="comedy" name="categories" value="Comedy" class="mr-2" />
                    <label for="comedy" class="text-zinc-300">Comedy</label>
                  </div>
                  <div>
                    <input type="checkbox" id="romance" name="categories" value="Romance" class="mr-2" />
                    <label for="Romance" class="text-zinc-300">Romance</label>
                  </div>
                  <!-- Add more categories as needed  -->
                </div>
              </div>
              <div>
                <label for="image" class="block text-sm font-semibold text-zinc-300 mb-1">Image URL</label>
                <input type="text" id="image" name="image" placeholder="Enter image URL"
                  class="w-full p-2 bg-zinc-700 text-zinc-200 border border-zinc-600 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
                  required />
              </div>
              <div>
                <label for="trailer" class="block text-sm font-semibold text-zinc-300 mb-1">Trailer URL</label>
                <input type="text" id="trailer" name="trailer" placeholder="Enter Trailer URL"
                  class="w-full p-2 bg-zinc-700 text-zinc-200 border border-zinc-600 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
                  required />
              </div>
              <div>
                <label for="download" class="block text-sm font-semibold text-zinc-300 mb-1">Download URL</label>
                <input type="text" id="download" name="download" placeholder="Enter Download URL"
                  class="w-full p-2 bg-zinc-700 text-zinc-200 border border-zinc-600 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
                  required />
              </div>
              <div class="flex justify-end">
                <button type="submit"
                  class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded">
                  Add Movie
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script src="/js/commonscript.js"></script>
      <script>
        document
          .getElementById("sidebar-toggle")
          .addEventListener("click", function () {
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("-translate-x-full");
            sidebar.classList.toggle("translate-x-0");
          });
      </script>
</body>

</html>